@model List<Product>
@{
    ViewData["Title"] = "Product";
}
<div class="card shadow border-0 my-5">
    <div class="card-header bg-primary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-4">

            </div>
            <div class="col-4 col-sm-4 text-center">
                <h3 class="text-white">Product List</h3>
            </div>
             <div class="col-4 col-sm-4 text-end">
                <a asp-controller="Product" asp-action="Upsert" class="btn btn-dark">
                    <i class="bi bi-plus-circle"></i>  Create Product
                </a>
            </div>
        </div>
    </div>
    <div class="card-body pt-3">
        <table id="tblData" class="table table-bordered table-striped table-hover" style="width:100%">
            <thead @*class="table-borderless"*@>
                <tr>
                    <th>Title</th>
                    <th>ISBN</th>
                    <th>ListPrice</th>
                    <th>Author</th>
                    <th>Category</th>
                    <th></th>
                </tr>
            </thead>
            @*<tbody>*@
               @* @foreach (var row in Model)
                {
                    <tr>
                        <td class="custom-medium-text">@row.Title</td>
                        <td class="custom-medium-text">@row.ISBN</td>
                        <td class="custom-medium-text">@row.ListPrice</td>
                        <td class="custom-medium-text">@row.Author</td>
                        <td class="custom-medium-text">@row.Category.Name</td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-area="Admin" asp-controller="Product" asp-action="Upsert" asp-route-id="@row.Id" class="btn btn-primary mx-2 custom-medium-text">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-area="Admin" asp-controller="Product" asp-action="Delete" asp-route-id="@row.Id" class="btn btn-danger mx-2">
                                    <i class="bi bi-trash-fill"></i> Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }*@
            @*</tbody>*@
        </table>
    </div>
</div>
@section Scripts
{
    <script src="~/js/product.js"></script>
}